@import "tailwindcss";

body {
    color: white;
    background-color: #000000;
    font-family: Courier New, Courier, monospace;
    position: relative;
}

/* Hide the scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#tool-modal-container::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}

/* Current button does not changes cursor style when hovered/focused, so we'll do that voluntary */
button, input {
    cursor: pointer !important;
}

/* Disable user select */
* {
    user-select: none;
}

input,
select,
.copyable,
.copyable * {
    user-select: text !important;
}

/* These general-purpose-* styles used in components too */

.general-purpose-input {
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0px 0.2rem;
    background: transparent;
    mix-blend-mode: difference;
}

.general-purpose-input-selected {
    cursor: default !important;
}

.general-purpose-input:not(.general-purpose-input-selected):hover {
    color: white !important;
    background-color: #ff3333 !important;
    mix-blend-mode: normal !important;
}

.string-inputter[type="text"] {
    border: 1px solid #cccccc !important;
    display: flex !important;
    line-height: 4rem !important;
    padding: 0rem 0.6rem 0 !important;
    width: 16rem !important;
    height: 2rem !important;
}

/* React-modal styles */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5) !important;
    transition: all 100ms ease-in-out;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) !important;
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5) !important;
}